# Dependencies
node_modules

# Environment variables
.env

# Database file (contains sensitive data)
backend/registry.db

# Build files
backend/dist
frontend/build

# Logs
npm-debug.log*

# Editor
.vscode/

# Temp files
*.save
